  @import 'https://fonts.googleapis.com/css?family=Inconsolata';

  html {
    background: black;
    min-height: 100%;
  }

  body {
    height: 100vh;
    margin: 10px;
    padding: 10px;
    color: rgba(128, 255, 128, 0.8);
    font: 2.25vh Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
    text-align: center;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
    }
  }
  ::selection {
    background: #0080FF;
    text-shadow: none;
  }
  pre {
    margin: 0;
  }

  .terminal {
    box-sizing: inherit;
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  .output {
    color: rgba(128, 255, 128, 0.8);
    text-shadow:
        0 0 1px rgba(51, 255, 51, 0.4),
        0 0 2px rgba(255, 255, 255, 0.8);
  }
  /*
  .input {
    color: rgba(192, 255, 192, 0.8);
    text-shadow:
        0 0 1px rgba(51, 255, 51, 0.4),
        0 0 2px rgba(255, 255, 255, 0.8);
  }
  .input::before {
    content: "$ ";
  }
  */

  a {
    color: rgba(128, 255, 128, 0.8);
    text-decoration: none;
  }

  a::before {
    content: "[";
  }

  a::after {
    content: "]";
  }
  
  a:hover:before {
    content: ">>[";
  }

  a:hover:after {
    content: "]<<";
  }

  .errorcode {
    color: white;
  }
  #uv-address {
      float: right;
      margin: 10;
      font: inherit;
      font-size: 3.75vh;
      border: none;
      background-color: transparent;
      outline: none;
      color: inherit; 
      width: 100%;
  }
  p2{
    float: left;
  }
  ::placeholder {
  color: rgba(128, 255, 128, 0.8);
  text-align: center;
  }
  input:focus::placeholder {
  color: transparent;
}
